/* .about-container {
  background-color: #fdf2e9;
} */

.about-content--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
