.button:link,
.button:visited {
  color: #444;
  background: var(--color-primary);
  padding: 1rem 3rem;
  font-size: 2.4rem;
  font-weight: 500;
  border-radius: 3rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
  width: fit-content;

  display: flex;
  align-items: center;
}

.button:active,
.button:hover {
  background: var(--color-primary-darker);
  transform: scale(1.05);
}
