.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdf2e9;
  padding: 10rem 3rem;
  min-height: 80rem;
  position: relative;
}

.header-intro {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 45%;
  z-index: 1;
}

.header-intro--title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--text-dark);
  letter-spacing: 1px;
  max-width: 75%;
}

.header-intro--paragraph {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--text-medium);
  max-width: 75%;
  line-height: 5rem;
}

.learn-more {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: underline 3px;
  text-underline-offset: 5px;
  color: green;
  line-height: 5rem;
  margin-top: 12rem;

  position: absolute;
  bottom: 5rem;
  animation: learnMoreAnimation 1s linear infinite;
}

@keyframes learnMoreAnimation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

.header-image {
  text-align: center;
  width: 40%;
  position: relative;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.header-image--profile {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.header-circle {
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}

.header-circle--medium {
  width: 25rem;
  height: 25rem;
  background-color: var(--color-secondary);

  left: 25rem;
  top: 25rem;
}

.header-circle--small {
  width: 5rem;
  height: 5rem;
  background-color: var(--color-tertiary);

  left: 10rem;
  top: 20rem;
}

@media screen and (max-width: 1000px) {
  .header-intro--title {
    font-size: 3.6rem;
  }

  .header-intro--paragraph {
    font-size: 2.2rem;
  }

  .header-intro {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .header-container {
    flex-direction: column-reverse;
    gap: 3rem;
    overflow: hidden;
  }

  .header-intro {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .header-intro--title,
  .header-intro--paragraph {
    text-align: center;
  }

  .learn-more {
    bottom: 1rem;
  }

  .header-image {
    width: 55%;
    min-width: 35rem;
    z-index: 100;
  }
}
