.section {
  padding: 10rem 20rem;
  border-top: 1px solid #ddd;
}

.section-header {
  line-height: 1.4;
  margin-bottom: 10rem;
  display: flex;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.section-subtitle {
  font-size: 3.2rem;
  font-weight: 500;
  color: var(--text-medium);
}

@media screen and (max-width: 1240px) {
  .section {
    padding: 10rem 15rem;
  }
}

@media screen and (max-width: 1140px) {
  .section {
    padding: 10rem 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    padding: 10rem 5rem;
  }
}
