.footer-container {
  background-color: var(--text-darker);
  color: #ccc;
}

.footer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 3.4rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding-bottom: 3rem;
}

.footer-line {
  display: block;
  margin: 4rem 0;
  border: 1px solid var(--text-dark);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-nav {
  display: flex;
  gap: 3.2rem;
}

.footer-nav a:link,
.footer-nav a:visited {
  text-decoration: none;
  color: var(--text-light);
  font-size: 2rem;
  transition: all 0.2s;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: var(--text-lighter);
}

.footer-contact,
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-contact div {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: var(--text-light);
}

.footer-social a:link,
.footer-social a:visited {
  text-decoration: none;
  color: var(--text-light);
  font-size: 2rem;
  transition: all 0.2s;
}

.footer-social a:hover,
.footer-social a:active {
  color: var(--text-lighter);
}

.footer-copyright {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-light);
}

.footer-copyright--name {
  color: #fff;
}
