@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&family=Comfortaa&family=Kaushan+Script&family=Lato:wght@300;400;700&family=Montserrat:wght@200;300;400;500;600;700&family=Oswald&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

:root {
  --color-primary: #5ec576;
  --color-primary-darker: #4bbb7d;
  --color-secondary: #ffcb03;
  --color-secondary-darker: #ffbb00;
  --color-tertiary: #ff585f;
  --color-tertiary-darker: #fd424b;
  --text-darker: #37383d;
  --text-dark: #444;
  --text-medium: #666;
  --text-light: #aaa;
  --text-lighter: #ccc;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
